[alias]
    co = commit
    s = status
    br = branch
    ch = checkout
[color]
    diff   = auto
    status = auto
    branch = auto
    ui = auto
[user]
    #email = koji.kashiwabara@gmodecorp.com
    email = noa_0x00@hotmail.com
    name = koji.kashiwabara
[merge]
    ff = false
